/******************************************************************
Site Name: Firecracker Alley
Author: Mike Vendetti

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/

/* main color scheme */
$off-white:        #F0EADE;
$tan:              #DDCCB0;
$light-red:        #DE5454;
$dark-red:         #8A2829;
$dark-blue:        #22304D;
$light-blue:       #6589A1;
/* end main */

$white:             #ffffff;
$black:             #333333;
$green:             #7dd667;
$bones-pink:        #f01d4f;
$blue:              #2980b9;

$light-gray:        #f8f9fa;
$gray:              #eaedf2;

$alert-yellow:      #ebe16f;
$alert-red:         $dark-red;
$alert-green:       $green;
$alert-blue:        $blue;

$link-color:        $light-red;
$link-hover:        $dark-red;

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;
$text-color:        #5c6b80;
$meta-gray:         #9fa6b4;
