article {
    span {
        &.stand-number {
            color: $light-red;
        }
        &.stand-location {
            text-transform: capitalize;
            color: $dark-blue
        }
    }
    section {
        p {
            text-align: justify;
        }
    }
}
