img {
    &.logo {
        display: none;
    }
}

nav {
    .text-logo {
        font-size: 2em;
        font-weight: bold;
    }
    &.navbar {
        padding: 1em 0 1em 0;
        #nav-toggle-thing {
            .nav {
                li {
                    &.menu-item {
                        a {
                            color: $off-white;
                            font-size: 1.2em;
                            font-weight: 600;
                            text-transform: uppercase;
                            &:hover {
                                text-decoration: none;
                                color: $light-blue;
                            }
                        }
                    }
                }
            }
        }
    }
}
